.message_outer {
    opacity: 1 !important;

    top: auto !important;
    bottom: 0 !important;

    height: 240px !important;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.95) 0%,
        rgba(0, 0, 0, 0.85) 25%,
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.2) 75%,
        rgba(0, 0, 0, 0.0) 100%
    ) !important;
}

.message_inner {
    font-size: 24px;   /* 今より少し下げる */
    line-height: 1.7;  /* 行間調整 */
}
